*{
  box-sizing: border-box;
  word-wrap: break-word;
  color:rgb(0, 0, 255);

}
.bg{
  background: url('/image.jpg') no-repeat;
  left:0;
  right: 0;
  bottom: 0;
  top:0;
  background-size: 100% 100vh;
  max-width: 100%;
  min-height: 100vh;
  min-width:285px;
}
.form-container{
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  min-width: 250px;
  font-size: 20px;
}
h1{
  text-align: center;
}
