* {
    box-sizing: border-box;
    word-wrap: break-word;
}
.content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form {
    margin-top:15vh;
    margin-bottom:20vh;
    width:400px;
}

.input-word{
  width:100%;
}

.in-button{
  position:relative;
}

.in-button input[type="submit"]{
  position: absolute;
  right: 0;
  top:0;
}


input{
  padding: 5px;
}
